<h1>Listing allergy_types</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @allergy_types.each do |allergy_type| %>
  <tr>
    <td><%= allergy_type.name %></td>
    <td><%= allergy_type.description %></td>
    <td><%= link_to 'Show', allergy_type %></td>
    <td><%= link_to 'Edit', edit_allergy_type_path(allergy_type) %></td>
    <td><%= link_to 'Destroy', allergy_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Allergy type', new_allergy_type_path %>
